body {
    background-color: #272727;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "Roboto"
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.1);
}


main>section {
    display: flex;
}

input, textarea {
    background-color: rgba(255,255,255,0.2);
    border: none;
    width: calc(100% - 40px);
    resize: vertical;
    padding: 12px 20px;
    color: #c9c9c9;
    box-shadow: 1px 1px 2px 0px black;
}

.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color:#161616;
    padding: 10px 25px;
    cursor:pointer;
}

section.divider {
    width: 100%;
    height: 50px;
    background-color: #383838;
    box-shadow: inset -5px 15px 20px -10px rgba(0, 0, 0, 0.6), inset 5px -15px 20px -10px rgba(0, 0, 0, 0.6);
}

.statistics>div{
    max-width: 1000px;
}

.content {
    flex: 1;
    flex-direction: column;
}

.content .content {
    padding: 1px;
    margin: 10px;
    background-color: rgba(255,255,255,0.1);
}

.entry {
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.1);
}

.descr {
    padding-right: 15px;
}

.uploadhelp .content {
    max-width: 1000px;
    margin: auto;
    padding: 40px 0px;
}

code {word-break: break-all;}

pre {
    background: rgba(0, 0, 0, 0.12);
    word-break: break-word;
    padding: 20px;
    white-space: pre-wrap;
}

.switch {
    margin: 40px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px black;
}

h2 {
    margin: 20px 30px;
    text-align: center;
}

h3 {
    margin: 10px 20px;
    text-align: center;
}

h5 {
    text-align: center;
}

.github p {
    display: flex;
    width: 100%;
    text-align: center;
}

a,
a:active,
a:link,
a:visited,
a:focus,
a:hover {
    text-decoration: none;
    color: #7dc0cd;
}

.github p>* {
    flex: 1;
}

.github a:first-child {
    line-height: 32px;
}

@media only screen and (max-width: 1000px) {
    main>section {
        flex-direction: column;
    }

    .github p {
        flex-direction: column;
    }

    .github p>* {
        margin-bottom: 15px;
    }
}